*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(57, 166, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 800px;
    height: 400px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    overflow: hidden;
    padding: 20px;
    position: relative;
    
    .bola{
        width: 3000px;
        height: 600px;
        background-color: rgb(0, 140, 255);
        border-radius: 500px;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        transform: translateX(320px);
        box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.37);
        color: #fff;
        transition: 0.5s ease-in-out;

        .bola-content{
            height: 50%;
            width: 280px;
            position: absolute;
            transform: translateX(-100px);
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;

            p{
                font-weight: bold;
                font-style: italic;
                text-align: center;
                color: #fff;
            }
        }
    }
}

.text-content{
    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateX(-50%);
}


.msg{
    position: absolute;
    width: auto;
    white-space: nowrap;
    height: auto;
    transform: translateX(10%);
}

.title{
    position: absolute;
    transform: translateY(-170px);
}

input{
    width: 320px;
    height: 35px;
    outline: none;
    border: 2px solid transparent;
    display: flex;
    align-items: center;
    padding: 0 42px;
    transition: 0.3s;
    border-radius: 8px;
    background-color: rgb(219, 219, 219);
    position: relative;

    &:focus{
        border: 2px solid rgb(151, 151, 151);
        outline: none;
    }

    &::placeholder{
        font-weight: bold;
    }
}

.box-icon{
    width: 35px;
    height: 25px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: transparent;
    border-right: 2px solid gray;
    transform: translate(3px, 5px);
    z-index: 1;

    img{
        margin-left: 6px;
        width: 20px;
        height: 20px;
        position: absolute;
        user-select: none;
    }
}

.button-l{
    font-size: 16px;
    font-weight: bold;
    width: 120px;
    height: 35px;
    background-color: rgb(0, 105, 224);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.button-l:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
    background-color: #fff;
    color: rgb(0, 105, 224);
    border-color: rgb(0, 105, 224);
}

.button-l:active{
    transform: scale(1);
    color: rgb(14, 59, 156);
    border-color: rgb(14, 59, 156);
}

.button-c{
    position: absolute;
    font-size: 16px;
    width: 100px;
    height: 36px;
    font-weight: bold;
    background-color: rgb(0, 105, 224);
    color: #fff;
    border: 1.5px solid #fff ;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    transform: translate(175px, -50px);
}

.button-c:hover{
    transform: scale(1.02) translate(175px, -50px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.37);
    background-color: #fff;
    color: rgb(0, 105, 224);
    border-color: rgb(0, 105, 224);
}

.button-c:active{
    transform: scale(1) translate(175px, -50px);
    background-color: #fff;
    border-color: rgb(14, 59, 156);
    color: rgb(14, 59, 156);
}

label{
    font-weight: bold;
}

select{
    font-weight: bold;
    border-bottom: 1px solid black !important;
    border: 1px solid transparent;
    outline: none;
    margin-top: 10px;

    option{
        font-weight: bold;
        color: #fff;
        background-color: rgb(0, 140, 255);
    }
}

/*Animações*/

.desaparecer{ /*Animação de desaparecer*/
    opacity: 0;
    transition: 0.2s ease-in-out;
}

.bola.expandir{ /*Animação de expandir a bola azul*/
    position: absolute;
    width: 3000px;
}

.container.diminuir{
    transform: scale(0.9);
    transition: 0.3s ease-in-out;
}

.container.aumentar{
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

body.trocaCor{
    background-color: rgb(152, 209, 255);
    transition: background-color 0.5s ease-in-out;
}

.bola.deslizarDir{
    width: 600px;
    position: absolute;
}

.bola-content.aparecer{
    opacity: 1;
    transition: 0.5s ease-in-out;
}