*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    width: 100%;
    height: 85vh;
    opacity: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2c3e50;
    color: white;
    padding: 15px;
}
nav {
    background: #34495e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    z-index: 1;
    
    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin: 0 25px;
        border-bottom: 0px solid #fff;
        transition: 0.05s;

        &:hover{
            border: 2px solid none;
            border-bottom: 2px solid #fff;
        }
    }

    .logout{
        position: absolute;
        right: 20px;

        a{
            color: #000;
            text-decoration: none;
            font-weight: bold;
            background-color: #fff;

            &:hover{
                border: 2px solid none;
                border-bottom: 2px solid #fff;
            }
        }
    }
}

table {
    width: 650px;
    border-collapse: collapse;
    background: white;
}

table, th, td {
    border: 1px solid #bdc3c7;
}
th, td {
    padding: 10px;
    text-align: left;
}

section {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.title{
    color: #2c3e50;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
    position: relative;
    bottom: 10px;
}

.content{
    width: 65vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 20px #00000075;
    border-radius: 36px;
    overflow-y: auto;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    padding: 10px;
    background: #2c3e50;
    color: white;
    top: 5%;
}