*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f6fa;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    height: 85vh;
    opacity: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2c3e50;
    color: white;
    padding: 15px;
}
nav {
    background: #34495e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    z-index: 1;
    
    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
        margin: 0 25px;
        border-bottom: 0px solid #fff;
        transition: 0.05s;

        &:hover{
            border: 2px solid none;
            border-bottom: 2px solid #fff;
        }
    }

    .logout{
        position: absolute;
        right: 20px;

        a{
            color: #000;
            text-decoration: none;
            font-weight: bold;
            background-color: #fff;

            &:hover{
                border: 2px solid none;
                border-bottom: 2px solid #fff;
            }
        }
    }
}

.evento{
    width: 700px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    overflow: auto;
    
    h2{
        position: absolute; 
        transform: translateY(-30px);
    }
}

/*Área do Popup*/

.cadastrar{
    position: absolute;
    width: 160px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    background-color: #34495e;
    color: #fff;
    border: 2px solid #000;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    transform: translateY(-250px);
    box-shadow: 0px 0px 2px #000;
    transition: 0.2s;

    &:hover{
        border-radius: 10px;
        transform: translateY(-250px);
        box-shadow: 0px 0px 6px #000;
    }

    &:active{
        transform: scale(0.995) translateY(-250px);
        background-color: #2d3f52;
    }
}

#fundo{
    position: absolute;
    display: none;
    width: 100%;
    height: 200%;
    transform: translateY(-100px);
    background-color: #00000063;
    z-index: 9;
}

#popup{
    position: absolute;
    width: 750px;
    height: 500px;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 0 50px;
    border-radius: 36px;
    z-index: 10;
    transform: translateY(-50px);

    textarea{
        max-width: 740px;
        max-height: 140px;
        min-height: 100px;
        min-width: 400px;
    }

    input:focus, textarea:focus{
        outline: none;
        border-color: #2980b9;
        transition: 0.1s;
    }
}

.close-btn{
    position: absolute;
    background-color: #2980b9;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(330px, -210px);
    font-weight: bold;
    color: #fff;;
    cursor: pointer;
}

    button, input[type=submit] {
        background: #2980b9;
        color: white;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        border-radius: 4px;
        transition: 0.2s;
    }

    button:hover, input[type=submit]:hover {
        background: #1f6391;
        border-radius: 8px;
    }

        button:active, input[type=submit]:active {
        background: #2880bb;
    }

    input, textarea {
        width: 100%;
        margin-bottom: 10px;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }


h2 {
    color: #2c3e50;
    border-bottom: 2px solid #2980b9;
    padding-bottom: 5px;
}

table {
    width: 650px;
    border-collapse: collapse;
    background: white;
}

table, th, td {
    border: 1px solid #bdc3c7;
}
th, td {
    padding: 10px;
    text-align: left;
}

.botaodaaprovacao{
    width: 90px;
}

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    background: #2c3e50;
    color: white;
    transform: translateY(100px);
}

/*Animações DIV*/

.fundo-aparecer{
    display: flex;
    animation: fundo 0.5s forwards;
}

.popup-aparecer{
    display: flex;
    animation: popup 0.5s  forwards;
}

.popup-desaparecer{
    display: none;
    animation: popupDesaparecer 0.4s forwards;
}

.fundo-desaparecer{
    display: none;
    animation: fundoDesaparecer 0.3s forwards;
}

/*Animações @keyframes*/

@keyframes popup{  /*Popup aparecendo*/
    from{
        opacity: 0;
        transform: translateY(200px);
    }
    to{
        opacity: 1;
        transform: translateY(-50px);
    }
}

@keyframes popupDesaparecer{  /*Popup desaparecendo*/
    from{
        opacity: 1;
        transform: translateY(-50px);
    }
    to{
        opacity: 0;
        transform: translateY(200px);
    }
}

@keyframes fundo {  /*Fundo do Popup*/
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fundoDesaparecer {  /*Fundo do Popup*/
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}