*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    justify-content: center;
    border: 2px solid rgba(104, 104, 104, 0.5);
    border-radius: 40px;
    box-shadow: 0 0 12px rgba(104, 104, 104, 0.5);
}

.title{
    font-size: 26px;
    font-weight: bold;
    border-bottom: 2px solid rgba(104, 104, 104, 0.5);
}

.input-box{
    width: 100%;
    height: 300px !important;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row !important;
}

.desc-box{
    width: 300px;
    height: 250px !important;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: left;

    textarea{
        width: 300px;
        max-width: 320px;
        height: 150px;
        max-height: 280px;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #bbbbbb;
        border-radius: 6px;
        outline: none;
        transition: 0.05s;

        &:focus{
            border-color: #2454ae;
        }
    }
}

.text-box{
    width: 300px;
    height: 250px !important;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;

    input{
        width: 300px;
        height: 25px;
        margin-top: 5px;
        margin-bottom: 10px;
        padding: 5px;
        border: 1px solid #bbbbbb;
        border-radius: 6px;
        outline: none;
        transition: 0.2s;

        &:focus{
            border-color: #2454ae;
        }
    }

    select{
    background-color: transparent;

    option{
        background-color: rgb(111, 152, 240);
        color: #fff;
    }
}

}

.button-box{
    width: 200px;
    display: flex;
    justify-content: space-around;

    button{
        width: 80px;
        height: 25px;
        border: none;
        border-radius: 6px;
        background-color: #2454ae;
        color: white;
        font-weight: bold;
        cursor: pointer;
        transition: 0.2s;

        &:hover{
            background-color: #4675cd;
        }

        a{
            color: #fff;
            text-decoration: none;
        }
    }
}