*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background-color: rgb(121, 159, 241);
    z-index: 10;
}

nav{
    height: 50px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(90, 136, 235);
    color: #fff;
    z-index: 1;

    a{
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        margin: 0 15px;
        transition: 0.04s;

        &:hover{
            border-bottom: 2px solid #fff;
        }
    }

    .logout{
    height: 30px;
    width: 80px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    position: absolute;
    background-color: rgb(77, 83, 231);
    border: 2px solid rgb(77, 83, 231);
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    transition: 0.2s;
    box-shadow: 0 0 6px black;
    right: 20px;
    bottom: 10px;


    &:hover{
        background-color: #fff;
        color: rgb(77, 83, 231);
        border: 2px solid rgb(77, 83, 231);
    }
}
}

section {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
}

.content{
    width: 95vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 20px #00000075;
    border-radius: 36px;

    .line{
        width: 2px;
        height: 70%;
        background-color: rgba(104, 104, 104, 0.5);
    }
}

.title{
    font-size: 26px;
    font-weight: bold;
    border-bottom: 2px solid rgba(104, 104, 104, 0.5);
    margin-bottom: 10px;
}

.eventos-box{
    width: 70vw;
    height: 60vh;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:1px solid #bbbbbb;
    padding:12px;
    margin:12px 0;
    border-radius:6px;
}
/*Eventos*//*Eventos*//*Eventos*/

table{
    width:100%;
    border-collapse:collapse;
    position: absolute;
    top: 0;
}
th, td{
    padding: 8px;
    border: 1px solid #eee;
    text-align: left;
}
.actions a{
    margin-right: 8px;
}

.presenca{
    width: 250px;
    padding: 2px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(77, 123, 231);
    border: 2px solid rgb(77, 83, 231);
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    transition: 0.2s;
    box-shadow: 0 0 4px rgb(0, 67, 154);
    user-select: none;

    &:hover{
        background-color: #1f9aff;
        box-shadow: 0 0 8px rgb(0, 67, 154);
        border: 2px solid rgb(35, 110, 207);
    }
}