*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background-color: rgb(121, 159, 241);
    z-index: 10;
}

nav{
    height: 50px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(90, 136, 235);
    color: #fff;
    z-index: 1;

        a{
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        margin: 0 15px;
        transition: 0.04s;

        &:hover{
            border-bottom: 2px solid #fff;
        }
    }
}

section {
    width: 100%;
    height: calc(100vh - 130px);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.content{
    width: 95vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: 0 0 20px #00000075;
    border-radius: 36px;
}

.title{
    font-size: 26px;
    font-weight: bold;
    border-bottom: 2px solid rgba(104, 104, 104, 0.5);
}

.line{
    width: 2px;
    height: 100%;
    background-color: rgba(104, 104, 104, 0.5);
}
/*Produtos*//*Produtos*//*Produtos*/
.container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.box{
    width: 45vw;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    border:1px solid #bbbbbb;
    padding:12px;
    margin:12px 0;
    border-radius:6px;
    overflow: auto;

    .cadastro{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.p-bottom{
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.text{
    color: #2a2a2aa3;
    font-style: italic;
}
/*Produtos*//*Produtos*//*Produtos*/

.logout{
    height: 30px;
    width: 80px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    position: absolute;
    background-color: rgb(77, 83, 231);
    border: 2px solid rgb(77, 83, 231);
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    transition: 0.2s;
    box-shadow: 0 0 6px black;
    right: 20px;
    bottom: 10px;


    &:hover{
        background-color: #fff;
        color: rgb(77, 83, 231);
        border: 2px solid rgb(77, 83, 231);
    }
}

/*Tabela de Produtos*/
input{
    border: 1px solid gray;
    outline: none;
    width: 300px;
    height: 20px;
    padding: 0 4px;
    transition: 0.2s;
    
    &:focus{
        border-radius: 8px;
        border-color: rgb(90, 136, 235);
    }
}

select{
    background-color: transparent;

    option{
        background-color: rgb(111, 152, 240);
        color: #fff;
    }
}

textarea{
    width: 307px;
    height: 70px;
    max-width: 307px;
    max-height: 70px;
    outline: none;
    border: 1px solid gray;

    &:focus{
        border-color: rgb(90, 136, 235);
    }
}

.salvar{
    width: 100px;
    height: 25px;
    border: 1px solid black;
    position: absolute;
    bottom: 5px;
    right: 0;
    cursor: pointer;
    transition: 0.2s;

    &:hover{
        border-radius: 8px;
        border-color: rgb(90, 136, 235);
        color: rgb(90, 136, 235);
    }
}
/*Tabela de Produtos*/

table{
    width: 100%;
    border-collapse:collapse;
    position: absolute;
    overflow-y: auto;
    top: 0;

    a{
            background-color: rgb(90, 136, 235);
            color: #fff;
            padding: 4px;
            text-decoration: none;
            position: relative;
            transition: 0.5s;
            border-radius: 4px;
            user-select: none;

            &:hover{
                background-color: rgb(115, 156, 245);
                border-radius: 8px;
            }

            &:active{
                background-color: rgb(65, 110, 206);
            }
        }
}
th, td{
    padding: 8px;
    border: 1px solid #eee;
    text-align: left;
}
.actions a{
    margin-right: 8px;
}